%li.mdl-list__item.mdl-list__item--two-line
  %span.mdl-list__item-primary-content
    %i.material-icons.mdl-list__item-avatar person
    %span.mdl-list__item-sub-title= answer.body
  - if user_signed_in? && answer.user_id == current_user.id
    %span.mdl-list__item-secondary-content
      %span.mdl-list__item-secondary-info Delete
      = link_to answer_path(answer), class: 'mdl-list__item-secondary-action', method: :delete do
        %i.material-icons delete
